<div class="row-fluid">
	<div class="span6 offset3">
		<div id="articles">
			<h2>All articles</h2>
				<table id="all_posts">
					<tr>
						<th>Author</th>
						<th>Title</th>
						<th>Tags:</th>
						<th>Body</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>	
						<%= render :partial => "post", :collection => @posts %>
</table>
					<br />
		</div>
	</div>
	<div class="span2">
		<button class="btn">
			<%= link_to "new post", "posts/new" %>
		</button>
		<button class="btn">
			<%= link_to "view all users", "user" %>
		</btn>
	</div>
</div>