/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Aldrich);


$bg-color: #fff;
$font-contrast-color: #7df9ff;
$main-font: Arial, Helvetica, sans-serif;

#content {
	margin-top: 50px;
}

body {
	}

#home_container {
	background-color: $bg-color;
	margin: 0px;
	margin-top: 200px;
	padding: 20px;

}

.nav, .brand, article h2 {
	font-family: 'Aldrich', sans-serif;
}

p {
	font-weight: 300;
}

#sidebar {
	border: 0px solid #B5B5B5; 
	border-left: 0px;
	padding:45px;
	padding-top: 12.5%;
	position: fixed;
	height: 100%;
	width: 400px;
	top: 0;
	left: -41px;
	background-image:url(image_path('micro_carbon.png'));
	z-index: 1000;
}

#sidebar p {
	font-weight: 300;
	color: gray;
}

#sidebar h2 {
	font-family: 'Aldrich', sans-serif;
	font-size: 1.5em;
	color: $font-contrast-color;
}

article {
	margin-top: 50px;		
}

#home_container {
	margin-top:20px;
}

#nav_container {
	width: 100%;
}

#nav_links {
	margin-left: 300px;
}

#login_form {
	margin-right: 20px;
	margin-top: 8px;
	color: white;
}

#logo {
	margin-left: 28px;
}

#logo_big {
	font-size: 4.2em;
}

#alerts {
	font-size: 1.5em;
	color: red;
	margin-top: 10px;
}

.comment_area {
	display: none;
}

#show_comments {
	display: inline;
	#float:right;
}