// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

$bg-color: #131414;
$main-font: Arial, Helvetica, sans-serif;

#content {
	margin-top: 50px;
}