<div class="span3" id="sidebar">
	<div id="sidebar_links">
		<h2><strong>welcome to the personal blog of jawad abdulsamad<strong></h2>
		<p>I'm currently working hard to become a full stack Rails developer. I recently graduated from the winter '13 class of Bloc.io, the first online bootcamp for web development and am working on 2 personal projects to try to test out my skills  </p>
			<iframe width="285" height="160" src="http://www.youtube.com/embed/j-74OpG69XQ" frameborder="0" allowfullscreen></iframe>

	</div>
</div>	